$primary: #202020;
$secondary: #121212;
$white: #fff;
$black: #000;
$dark: #1C1C1C;
$blue: #3137C9;
$red: #ED3024;
$gray: #D2D2D2;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$sidebar-with: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;
$mini-bp: 390px;
