.stories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;

    margin-bottom: 4rem;

    @include breakpoint($mobile-bp){
        grid-template-columns: 140px 140px 140px 140px;
        overflow: auto;
    }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.stories__item{
    cursor: pointer;
    overflow: hidden;
    position: relative;

    border-radius: 5px;
    box-shadow: 0 5px 15px rgba($black, .2);

    img{
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        transition: transform .3s linear;
    }

    &:hover{
        img{
            transform: scale(1.3);
            transition-duration: .7s;
        }
    }

    &:after{
        display: block;
        width: 100%;
        height: 100%;

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        background-image: linear-gradient(
            to bottom,
            rgba($black, 0.8) 0%, 
            rgba($black, 0) 52.08%,
            rgba($black, 0.406154) 76.41%,
            rgba($black, 0.8) 100%
        )
    }
}
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.stories__title,
.stories__date{
    width: 100%;
    padding: 1.4rem;

    line-height: 1.3;
    font-size: 1.2rem;
    color: $white;

    position: absolute;
    z-index: 3;
    left: 0;
}

.stories__title{
    top: 0;
}

.stories__date{
    bottom: 0;
    text-align: right;
}