.work__preview{
    overflow: hidden;
    max-width: 50%;

    .work__preview__img{
        height: 100%;

        &--mgl{
            margin-left: -74rem;

            @include breakpoint($mobile-bp){
                margin-left: 0rem;
                width: 100%;
            }
        }

        &--mgc{
            margin-left: -17.7rem;

            @include breakpoint($mobile-bp){
                margin-left: 0rem;
                width: 100%;
            }
        }
    }

    @include breakpoint($mobile-bp){
        max-width: 100%;
    }
}

.work__title{
    margin-bottom: 2.5rem;

    a{
        color: $white;
        font-weight: 500;
        font-family: inherit;
        font-size: 2.4rem;

        @include breakpoint($mobile-bp){
            font-size: 2.1rem;
        }
    }

    @include breakpoint($mobile-bp){
        margin-bottom: 1.5rem;
    }
}

.work__content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 2.5rem;

    @include breakpoint($mini-bp){
        padding: 1.5rem;
    }
}

.work__description{
    color: $gray;
    font-weight: lighter;
    font-size: 1.6rem;
    line-height: 1.8;

    margin-bottom: 1rem;

    @media (max-width: 520px){
        font-size: 1.4rem;
    }

    @media (max-width: 420px){
        font-size: 1.2rem;
    }
}

.work__footer{
    width: 100%;
    margin-top: auto;
    text-align: right;
}

.tags{
    display: flex;
    flex-wrap: wrap;

    a{
        margin-right: 1rem;
    }

    &--inner{
        margin-bottom: 2rem;

        @include breakpoint($mini-bp){
            margin-bottom: 0rem;
        }

        @include breakpoint($tablet-bp){
            width: 100%;
        }
    }
}

.tag{
    font-size: 1.2rem;
    background-color: #EA8C1E;
    padding: .5rem 1rem .7rem;
    border-radius: .5rem;
    color: $white;
    transition: background-color .1s linear;

    margin-top: 1.2rem;

    &:hover{
        text-decoration: none;
        background-color: darken($color: #d6812079, $amount: 10%);
    }

    @media (max-width: 470px){
        zoom: .8
    }

    @media (max-width: 420px){
        zoom: .7
    }
}