<div class="modal" id="contact-modal">
    <div class="modal__content">

        <button class="modal__close" type="button">
            <img src="/assets/images/share/cancel.svg" alt="закрыть">
        </button>

        <form action="form" class="form">
            <div class="form__group form__group--mb">
                <input class="form__control form__control--pad" type="text" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--mb">
                <input class="form__control form__control--pad" type="email" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--mb">
                <input class="form__control form__control--pad" type="text" placeholder="Текст сообщения">
                <span class="form__line"></span>
            </div>
            <a href="index.html" class="btn btn--blue btn--rounded btn--sm btn--mb btn--md" type="submit">Отправить</a>
            <ul class="form__footer form__footer--center">
                <li><a href="mailto:actingsv@gmail.com">email: actingsv@gmail.com</a></li>
                <li><a href="tel:+79108888788">тел: +7-910-888-87-88</a></li>
            </ul>
        </form>

    </div><!--modal__content-->
</div><!--modal-->