<header class="header">

    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <a href="index.html" class="nav__link"><li class="nav__item">Главная</li></a>
                <li class="nav__item">
                    <a href="" class="nav__link  has-subnav">Статьи</a>
                    
                    <ul class="subnav">
                        <li><a href="site.html" target="_self">Создание сайтов</a></li>
                        <li><a href="modal.html" target="_self">3d моделирование</a></li>
                        <li><a href="">Продвижение сайтов</a></li>
                    </ul>
                </li>
                <a target="_self" href="text.html" class="nav__link"><li class="nav__item">Обо мне</li></a>
                <a target="_self" href="index.html" class="nav__link"><li class="nav__item">Реклама</li></a>
            </ul>
        </nav>

        <button id="sidebar__toggle" class="burger" type="button">
            <span>открыть навигацию</span>
        </button>
    </div>

    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <a target="_self" href="entrance.html" class="nav__link nav__link--last"><li class="nav__item">Войти</li></a>
                <a target="_self" href="index.html" class="nav__link nav__link--last"><li class="nav__item">Выйти</li></a>
                <a target="_self" href="profile.html" class="nav__link nav__link--last"><li class="nav__item">Профиль</li></a>
            </ul>
        </nav>
        <form class="search" action="search.html" method="get">
            <input type="text" placeholder="Поиск по блогу">
        </form>
    </div>
</header>
