<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<!-- <body class="no-scroll"> -->
<!-- <body class="show-sidebar"> -->
<body>
    
    <div class="page" id="page">

        {{> header }}
        {{> sidebar }}

        <main class="main">
            <div class="container">
                {{> body }}
            </div>
        </main>
        
    </div>

    {{> story-modal}}
    {{> contact-modal}}
    {{> share-modal}}
    {{> story-modal}}

    <!-- js -->
    <!-- <script type="text/javascript" src="https:////cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script> -->
    <script src="assets/js/app.js"></script>
</body>
</html>
